.content {
    background: #990;
    width: 100%;
    height: 600px;
}

.contentRight {
    margin-top: 50px;
}

.contentRight img {
    width: 500px;
    height: 500px;
}

.contentLeft {
    width: 560px;
    margin-top: 80px;
    margin-right: 100px;
}

.contentLeftItem {
    margin-bottom: 50px;
}

.contentLeftItem h4 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFEB3B;
    font-size: 16px;
}

.contentLeftItem p {
    color: white;
    font-size: 14px;
    line-height: 24px;
}